.menu-container {
    .menu {
        font-size: 18px;
        text-align: center;
        padding: 0 0 0 0;
        display: block;
        height: $menu-height;
        width: 100%;

        li {
            display: inline-block;
            line-height: $menu-height;
            color: #bec5ad;
            padding-right: 10px;
            padding-left: 10px;
            cursor: pointer;

            &:hover {
                text-decoration: underline
            }
        }
    }
}
