@import './variables';
@import '../components/composition/composition';
@import '../components/header/header';
@import '../components/dashboard/dashboard';
@import '../components/menu/menu';

.App {
}

.main-container {
    position: relative;
    display: block;
    top: $header-height;

    @media screen and (min-width: 832px) {
        .centered {
            max-width: 832px;
        }
    }

    .centered {
        margin: 0 auto;
    }
}

body {
    font-family: 'Josefin Sans', sans-serif;

    .hidden {
        display: none;
    }

    .plain-link {
        cursor: pointer;
        text-decoration: none;
        color: $base-font-color;
    }
}