@import './variables';
@import '../components/composition/composition';
@import '../components/header/header';
@import '../components/dashboard/dashboard';
@import '../components/menu/menu';

.App {
    position: absolute;
}

.main-container {
    position: relative;
    top: $header-height;
    width: 75%;
    margin: auto;
}

body {
    font-family: 'Josefin Sans', sans-serif;

    .hidden {
        display: none;
   }
}