.header-container {
    position: fixed;
    width: 100%;
    height: $header-height;
    font-size: 30px;
    padding: 7px;
    background-color: white;
    z-index: 10;
}

.header-buttons {
    float: right;
}

.name-header {
    float: left;
}

.header-icon {
    display: inline-block;
    margin-left: 10px;
}